@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet

@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VendingMachineServer</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @Html.Raw(JavaScriptSnippet.FullScript)
    @*<h2>@ViewData["Title"].</h2>*@
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" style="text-align: center">
        <div class="list-group">
            <img src="~/images/inautec.png" style="width:200px" alt="ASP.NET" class="img-responsive center-block" /><br />
            <div asp-validation-summary="All" class="text-danger center-block"></div>
            <div class="form-group">
                <input asp-for="UserName" class="form-control center-block" placeholder="Nome de usuário" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="form-control center-block" placeholder="Senha" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe" class="center-block">
                    <input asp-for="RememberMe" />
                    Lembrar minhas credenciais
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success center-block" style="width:16%">Entrar</button>
        </div>
        <a asp-action="ForgotPassword" style="color:green">Esqueceu sua senha?</a>
    </form>
</body>
</html>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}