@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="center-block text-center">
        <h1>Olá @UserManager.FindByNameAsync(User.Identity.Name).Result.FirstName @UserManager.FindByNameAsync(User.Identity.Name).Result.LastName!</h1>
        <h2>Seja bem vindo ao sistema de monitoramento de Vending Machines feito pela empresa Inautec.</h2>
        <h3>Clique em nossa logo para ter acesso ao nosso site institucional.</h3>
        <img src="~/images/inautec.png" style="width:200px" alt="ASP.NET" class="img-responsive center-block" /><br />
    </div>
</div>
