@model InauVendingServer.Models.Product

<div class="modal fade" id="ProductDeleteModals">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Você tem certeza que deseja excluir este produto?
            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <input type="hidden" asp-for="ProductId" />
                        <dt>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ProductName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ProductType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ProductType)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <div class="form-actions no-color">
                            <input type="submit" value="Excluir" class="btn btn-default" />
                            <a data-dismiss="modal" class="btn btn-primary">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
