
<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8" lang="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VendingMachineServer</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body style="height: 100%; font-size:170%">

    <div id="main">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-left" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo2.png" alt="" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Products" asp-action="Index">Produtos</a></li>
                        <li><a asp-area="" asp-controller="Machines" asp-action="Index">Máquinas</a></li>
                        <li><a asp-area="" asp-controller="MachineSpots" asp-action="Index">Locais de Máquinas</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>

        <div id="main-content" class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2017 - Inautec</p>
            </footer>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-mask-plugin/src/jquery.mask.js"></script>
    <script src="~/lib/jquery-price-format/jquery.priceformat.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/modals.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
